name: Push changes to Pipeline 2

on:
  push:
    branches:
      - dev

jobs:
  commit-app-info:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code at triggering commit
        uses: actions/checkout@v4
      - name: Detect and read changed .properties file
        run: echo "success"

