name: Pipeline 2

on:
  push:
    branches:
      - dev
    paths:
      - batch-car-apps-release/**
jobs:
  DevChange:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code at triggering commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
          fetch-depth: 2
      - name: Create Tag
        id: create_tag
        env:
          GITHUB_SHA: ${{ github.sha }}
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          git config --global url."https://x-token-auth:${REPO_TOKEN}@github.com:Aaketk17/test-script-PoC.git".InsteadOf https://github.com:Aaketk17/test-script-PoC.git
          git config --global user.name "Aaketk17"
          git config --global user.email "athavantheivendram@gmail.com"
          git clone -b ${BRANCH_NAME} https://github.com:Aaketk17/test-script-PoC.git
          cd test-script-PoC/batch-car-apps-release
          ls
          
          git tag "${RELEASE_FLOW}-${GITHUB_SHA}"
          git push origin "${RELEASE_FLOW}-${GITHUB_SHA}"
      - name: Detect and read changed .properties file
        run: bash bash/script.sh

      - name: Use extracted values
        run: |
          echo "Changed File : $CHANGED_PROPERTIES_FILE"
          echo "artifactID   : $ARTIFACT_ID"
          echo "version      : $VERSION"
          echo "groupID      : $GROUP_ID"


