name: Pipeline 2

on:
  push:
    branches:
      - dev

jobs:
  DevChange:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code at triggering commit
        uses: actions/checkout@v4
      - name: Detect and read changed .properties file
        run: echo "success"

