name: Pipeline 2

on:
  push:
    branches:
      - dev
    paths:
      - batch-car-apps-release/**
jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      car_apps_changed: ${{ steps.check.outputs.car_apps_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check if realtime-car-apps-release changed
        id: check
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '^batch-car-apps-release/'; then
            echo "car_apps_changed=true" >> $GITHUB_OUTPUT
            echo "Yes"
          else
            echo "car_apps_changed=false" >> $GITHUB_OUTPUT
            echo "No"
          fi

  DevChange:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code at triggering commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
          fetch-depth: 2

      - name: Configure git
        run: |
          git config --global user.name 'Aaketk17'
          git config --global user.email 'athavantheivendram@gmail.com'

      - name: Create Tag
        id: create_tag
        env:
          GITHUB_SHA: ${{ github.sha }}
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
          BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: |
          git clone -b ${BRANCH_NAME} https://${REPO_TOKEN}@github.com/Aaketk17/test-script-PoC.git
          cd test-script-PoC/batch-car-apps-release
          ls
          pwd
          echo ${BRANCH_NAME}-${GITHUB_SHA}
          VALUE=$(grep 'lastdeployAPI' lastapi.yaml | awk -F': ' '{print $2}')
          git tag -a "${BRANCH_NAME}-${GITHUB_SHA}" -m "lastAPI=$VALUE"
          git push origin "${BRANCH_NAME}-${GITHUB_SHA}"

      - name: Detect and read changed .properties file
        run: bash bash/script.sh

      - name: Use extracted values
        run: |
          echo "Changed File : $CHANGED_PROPERTIES_FILE"
          echo "artifactID   : $ARTIFACT_ID"
          echo "version      : $VERSION"
          echo "groupID      : $GROUP_ID"

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: feature
          token: ${{ secrets.REPO_TOKEN }}
          fetch-depth: 0

      - name: Update pnc-doc-generation-papi
        run: |
          API=$(git for-each-ref refs/tags/v2.0 --format='%(contents)' | grep '^lastAPI=' | cut -d'=' -f2 )
          cat > "test-folder/lastapi.properties" << EOF
          $API
          EOF
      
      - name: Commit and Push to feature
        run: |
          git add test-folder/lastapi.properties
          git diff --staged --quiet || git commit -m "Update test-folder/lastapi.properties"
          git push origin feature
