name: Pipeline 3

on:
  push:
    branches:
      - feature
    paths:
      - test-folder/**
jobs:
  DevChange:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code at triggering commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
          fetch-depth: 2
      - name: Use extracted values
        run: |
          echo "All working good"
