name: Push changes to Pipeline 2

on:
  workflow_dispatch:
    inputs:
      artifactID:
        required: true
      version:
        required: true
      groupID:
        required: true

jobs:
  commit-app-info:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Configure git
        run: |
          git config --global user.name 'Aaketk17'
          git config --global user.email 'athavantheivendram@gmail.com"'
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: dev
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0
      - name: Update pnc-doc-generation-papi
        run: |
          # Update properties file
          cat > "batch-car-apps-release/pnc-doc-generation-papi.properties" << EOF
          artifactID=${{ inputs.artifactID }}
          version=${{ inputs.version }}
          groupID=${{ inputs.groupID }}
          EOF
      - name: Push Change to CD Branch
        id: push_to_ci
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.REPO_TOKEN }}
          message: "Update pnc-doc-generation-papi.properties"
          branch: dev
          author_name: "Aaketk17"
          author_email: "athavantheivendram@gmail.com"
        env:
          REPO_TOKEN: ${{ secrets.REPO_TOKEN }}
