name: Pipeline 1

on:
  workflow_dispatch:
    inputs:
      artifactID:
        required: true
      version:
        required: true
      groupID:
        required: true
      testID:
        required: true

jobs:
  commit-app-info:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: dev
          token: ${{ secrets.REPO_TOKEN }}
          fetch-depth: 0

      - name: Configure git
        run: |
          git config --global user.name 'Aaketk17'
          git config --global user.email 'athavantheivendram@gmail.com'

      - name: Update pnc-doc-generation-papi
        run: |
          cat > "batch-car-apps-release/pnc-doc-generation-papi.properties" << EOF
          artifactID=${{ inputs.artifactID }}
          version=${{ inputs.version }}
          groupID=${{ inputs.groupID }}
          testID=${{ inputs.testID }}
          EOF

          cat > "batch-car-apps-release/lastapi.yaml" << EOF
          lastdeployAPI:lastdeployAPI-${{ inputs.artifactID }}
          EOF

          ls batch-car-apps-release
      - name: Commit and Push to dev
        run: |
          git add batch-car-apps-release/pnc-doc-generation-papi.properties batch-car-apps-release/lastapi.yaml
          git diff --staged --quiet || git commit -m "Update pnc-doc-generation-papi.properties"
          git push origin dev
